**Author:** Deepa Anjanamurthy

**Project**: Capstone - Data Science

### **Table of Contents**

- [**Introduction**](#intro)

- [**Part 1: Data Cleaning and EDA**](#part-1)
    * [**Subcategory 1**](#part-1-1)
    * [**Subcategory 2**](#part-1-2)
        
- [**Part 2**](#part-2)
    * [**2.1**](#part-2-1)
    * [**2.2**](#part-2-2)
    
- [**Part 3**](#part-3)
    * [**3.1**](#part-3-1) 
    * [**3.2**](#part-3-2)

- [**Part 4**](#part-4)
    * [**4.1**](#part-4-1) 
    * [**4.2**](#part-4-2)

- [**Part 5**](#part-5)
    * [**5.1**](#part-5-1) 
    * [**5.2**](#part-5-2)

<a class="anchor" id="intro"></a>
**Introduction to Exchange Explorer!**

In this project, **"Exchange Explorer: Predictive Analytics for USD Fluctuations,"** we dive into the fascinating world of currency exchange rates, focusing on the US Dollar (USD) â€” a key player in global finance. The USD's influence stretches far and wide, affecting everything from international trade to personal investment decisions. Our goal is to sift through historical exchange rate data, uncover patterns, and predict future movements using the machine learning techniques. 

This isn't just about crunching numbers; it's about providing valuable insights for investors, financial analysts, and policymakers to make informed decisions in a complex market. Through a careful blend of analysis and technology, "Exchange Explorer" aims to shed light on the dynamics of forex markets, making them more understandable and navigable for everyone involved.

In [3]:
# Import necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

<a class="anchor" id="#part-1"></a>
**Part 1: Data Cleaning and EDA**

The dataset contains 15 years of data separated by the year - **2008 to 2023**. These files have been combined into one csv file  for ease and is being used for analysis.

In [4]:
# Load the data
df = pd.read_csv('combined_usd_exchange_rates.csv')

In [5]:
# Check if the dataframe data
df.head()

  Ticker        Date     Open    High      Low    Close  Adj Close  Volume
0  GBP=X  2008-08-01  0.50441  0.5068  0.50396  0.50651    0.50651     0.0
1  AUD=X  2008-08-01  1.06430  1.0765  1.06390  1.07270    1.07270     0.0
2  CAD=X  2008-08-01  1.02340  1.0294  1.02290  1.02460    1.02460     0.0
3  CHF=X  2008-08-01  1.04800  1.0512  1.04640  1.05040    1.05040     0.0
4  CNY=X  2008-08-01  6.83600  6.8554  6.82100  6.84700    6.84700     0.0

In [6]:
# Check the shape - no. of rows and columns in the dataframe
df.shape

(38982, 8)

In [7]:
# Get a sample of rows in the DF
df.sample(15)

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
9661,GBP=X,2012-04-26,0.61810,0.618800,0.617060,0.618120,0.618120,0.0
10193,CAD=X,2012-07-10,1.01920,1.021640,1.016500,1.019160,1.019160,0.0
2267,CAD=X,2009-06-24,1.15060,1.158100,1.142100,1.155000,1.155000,0.0
915,GBP=X,2008-12-17,0.64193,0.655090,0.636330,0.644870,0.644870,0.0
1506,AUD=X,2009-03-10,1.57530,1.575800,1.541400,1.543000,1.543000,0.0
24000,CNY=X,2017-10-27,6.64090,6.660300,6.638500,6.641100,6.641100,0.0
6915,CHF=X,2011-04-06,0.92570,0.928820,0.913180,0.925590,0.925590,0.0
6992,EUR=X,2011-04-19,0.70310,0.703850,0.697930,0.703040,0.703040,0.0
7830,INR=X,2011-08-15,45.18000,45.338001,45.180000,45.393002,45.393002,0.0
32916,AUD=X,2021-04-01,1.31676,1.327457,1.313888,1.316812,1.316812,0.0
7706,CHF=X,2011-07-27,0.80160,0.803190,0.799400,0.801520,0.801520,0.0
6407,HKD=X,2011-01-25,7.79690,7.797200,7.790300,7.796900,7.796900,0.0
35518,CHF=X,2022-03-31,0.92297,0.925810,0.919600,0.922970,0.922970,0.0
25497,AUD=X,2018-05-28,1.32330,1.325300,1.318900,1.323300,1.323300,0.0
6587,HKD=X,2011-02-18,7.78670,7.787400,7.782300,7.786600,7.786600,0.0

In [8]:
# Check the data integrity and columns/ variables in the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38982 entries, 0 to 38981
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ticker     38982 non-null  object
 1   Date       38982 non-null  object
 2   Open       38982 non-null  float64
 3   High       38982 non-null  float64
 4   Low        38982 non-null  float64
 5   Close      38982 non-null  float64
 6   Adj Close  38982 non-null  float64
 7   Volume     38982 non-null  float64
dtypes: float64(6), object(2)
memory usage: 2.4+ MB

In [6]:
# Check for missing values in each column
missing_values = df.isna().sum()

# Display the count of missing values for each column
print(missing_values)

Ticker       0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

The column Date is currently an object type. In order to use the column in a time series analysis, converting this column to **datetime** data type.

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38982 entries, 0 to 38981
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Ticker     38982 non-null  object
 1   Date       38982 non-null  datetime64[ns]
 2   Open       38982 non-null  float64
 3   High       38982 non-null  float64
 4   Low        38982 non-null  float64
 5   Close      38982 non-null  float64
 6   Adj Close  38982 non-null  float64
 7   Volume     38982 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 2.4+ MB

In [11]:
# Check unique values in the 'Volume' column
unique_volume_values = df['Volume'].unique()

# Display the unique values
print(unique_volume_values)

[0.]

In [12]:
# Drop the 'Volume' column if it's not needed
df = df.drop('Volume', axis=1)

The Volume column only has the unique value of 0, and provides no value to the analysis. Hence, this column is unnecessary as there's no variability that can be observed using this variable. Dropped this column for future analysis.